body
{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

nav
{
  width: 220px;
  background-color: #343a40;
  color: white;
  min-height: 100vh;
}

nav a
{
 color: white;
 text-decoration: none;
}

nav a:hover
{
 background-color: #495057;
 color: white;
 text-decoration: none;
}

main
{
  flex-grow: 1;
  padding: 20px;
}